.clockContainer{
	width:150px;
	height:150px;
	background:transparent;
	border-radius: 50%;
	position:relative;
	border-radius:50%;
	background:yellow;
	text-align: center;
}

.clockbody{
	position:absolute;
	top:0px;
	left:0px;
	width:150px;
	height:150px;
	border-radius:50%;
}


hr.hand{
	position:relative;
	top:50%;
	left:50%;
	padding:0px;
	margin:0px;
}

hr.hand.one{
	width:20%;
}

hr.hand.two{
	width:30%;
}

hr.hand.three{
	width:40%;
}

span.timeText {
width: 0px;
position: absolute;
bottom: -30px;
left: 30%;
}